:root {
--pink-border:#ff89bf;
--lightest-pink:#fdd6e9;
--box-header:#a0f3ed;
--box-header-border:#72f0ec;
--navlink-color:#c51c6d;

}

html {
    font-size: 70%;
}

body {
    font-family: 'Alegreya', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--navlink-color);
    background-color: var(--lightest-pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--navlink-color);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

