:root {
--pink-border:#ff89bf;
--lightest-pink:#fdd6e9;
--box-header:#a0f3ed;
--box-header-border:#72f0ec;
--navlink-color:#c51c6d;

}

* p {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
}

html {
    font-size: 70%;
}

body {
    font-family: 'Alegreya', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--navlink-color);
    background-color: var(--lightest-pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--navlink-color);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    display: inline-block;
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

ul li {
    list-style-type: none;
    margin-left: 25px;
    position: relative;
    display: inline-block;
    justify-content: flex-end;
}

a {
    color: var(--box-header);
    text-decoration: none;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

.top-header {
    display: inline-flex;
    position: relative;
    max-width: 100%;
    padding: 2rem;
    background-color: var(--pink-border);

}

.nav-bar {
    float:right;
    margin: 2rem;
    padding-top: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    }
        
.justify-center {
        justify-content: center;
    }

.work-card-small {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 400px;
    max-height: 375px;
    padding: 2rem;
    color: var(--box-header);
    outline: 2px double var(--box-header-border);
    border-width: 4px;
}

.work-card-big {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 600px;
    max-height: 550px;
    padding: 2rem;
    color: var(--box-header);
    outline: 2px double var(--box-header-border);
    border-width: 4px;
}

.word-card .work-header {
    position: absolute;
    margin: -2rem 0 -1.5rem 0;
    padding: 1rem;
    background-color: var(--box-header);
    border: 2px solid var(--box-header-border);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.work-card-small .work-card-big {
    flex-grow: 1;
}

